@font-face {
    font-family: 'digital-7';
    src: url('fonts/digital-7.ttf');
  }
  body{
    background-color: #1D5D9B;
  }
#clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    color: green;
    border-radius: 20px;
    font-family: 'digital-7', sans-serif;
    padding: 6px;
}
.showtime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
}
